doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    block head
    style.
      a[aria-current]{font-weight:bold}
  body
    script.
      if (!!window.MSInputMethodContext && !!document.documentMode)
      document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=default,Promise,Object.entries,Object.getOwnPropertyDescriptors"><\\/script>');
    block body
